* {
    margin   : 0px;
    padding  : 0px;
    border   : 0px;
    outline  : 0px;
    float    : left;
    position : relative;
    vertical-align : middle;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
*:before,*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
    width    : 100%;
	max-width: 100%;
    display  : block;
}
body {
	width      : 100%;
	max-width  : 100%;
    text-align : left;
    font-family: "微软雅黑","sans-serif","Helvetica","Arial","Lucida Grande", "Lucida Sans Unicode", "Verdana"; 
    font-size  : 14px;
	font-weight: normal;
    font-style : normal;
    line-height: 1.5;
	display    : block;
}
h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
h1 {
    padding:20px 0px 20px 0px;
}
h2{
    padding:15px 0px 15px 0px;
}
h3{
    padding:10px 0px 10px 0px;
}
h4,h5,h6 {
    padding:10px 0px 10px 0px;
}
h1,h2,h3,h4,h5,h6 {
    width:100%;
    font-family: inherit;
    font-weight: 700;
    color: inherit;
}
a {
    color      : rgb(0,0,0);
    background : transparent;  /*透明*/
    text-decoration : none;    /*取消下划线 ,如果要设置下划线 ,将值设置为 underline 即可*/
}
a:active,a:hover,a:focus {
  outline: 0;
  text-decoration: none;
}
p {
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    line-height:25px;
}
small,.small {
	float:none;
    font-size:85%;
}
b,strong {
	float:none;
    font-weight:700;
}
button,select,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
}
button,input,select,textarea {
  font-family: inherit;
  font-size  : inherit;
  line-height: inherit;
}
/****************************************
            总宽固定w1360
****************************************/
.w1360{
    width:1360px;
    min-width:1360px;
}
.w1360 .wp10{ width:136px; }
.w1360 .wp15{ width:204px; }
.w1360 .wp20{ width:272px; }
.w1360 .wp25{ width:340px; }
.w1360 .wp30{ width:408px; }
.w1360 .wp35{ width:476px; }
.w1360 .wp40{ width:544px; }
.w1360 .wp45{ width:612px; }
.w1360 .wp50{ width:680px; }
.w1360 .wp55{ width:748px; }
.w1360 .wp60{ width:816px; }
.w1360 .wp65{ width:884px; }
.w1360 .wp70{ width:952px; }
.w1360 .wp75{ width:1020px; }
.w1360 .wp80{ width:1088px; }
.w1360 .wp85{ width:1156px; }
.w1360 .wp90{ width:1224px; }
.w1360 .wp95{ width:1292px; }
/*等宽多列布局*/
.w1360 .col2{ width:560px; }
.w1360 .col3{ width:373px; }
.w1360 .col4{ width:280px; }
.w1360 .col5{ width:224px; }
.w1360 .col6{ width:186px; }
.w1360 .col7{ width:160px; }
.w1360 .col2_ > *{ width:560px; }
.w1360 .col3_ > *{ width:373px; }
.w1360 .col4_ > *{ width:280px; }
.w1360 .col5_ > *{ width:224px; }
.w1360 .col6_ > *{ width:186px; }
.w1360 .col7_ > *{ width:160px; }

/*带间距的等宽多列布局 ,并且靠左边的那列 与 靠右边的那列紧贴父容器*/
.w1360 .col2L5_{
    width:1125px;
    left:-5px;
}
.w1360 .col2L5__ > *{
    width:557px;
    margin-left:5px;
}
.w1360 .col2L10_{
    width:1130px;
    left:-10px;
}
.w1360 .col2L10_ > *{
    width:555px;
    margin-left:10px;
}
.w1360 .col3L5_{
    width:1125px;
    left:-5px;
}
.w1360 .col3L5_ > *{ 
    width:370px;
    margin-left:5px;
}
.w1360 .col4L5_{
    width:1125px;
    left:-5px;
}
.w1360 .col4L5_ > *{
    width:276px;
    margin-left:5px;
}
/****************************************
            总宽固定w1120
****************************************/
.w1120{
    width:1120px;
    min-width:1120px;
}
.w1120 .wp10{ width:112px; }
.w1120 .wp15{ width:168px; }
.w1120 .wp20{ width:224px; }
.w1120 .wp25{ width:280px; }
.w1120 .wp30{ width:336px; }
.w1120 .wp35{ width:392px; }
.w1120 .wp40{ width:448px; }
.w1120 .wp45{ width:504px; }
.w1120 .wp50{ width:560px; }
.w1120 .wp55{ width:616px; }
.w1120 .wp60{ width:672px; }
.w1120 .wp65{ width:728px; }
.w1120 .wp70{ width:784px; }
.w1120 .wp75{ width:840px; }
.w1120 .wp80{ width:896px; }
.w1120 .wp85{ width:952px; }
.w1120 .wp90{ width:1008px; }
.w1120 .wp95{ width:1064px; }
.w1120 .wp10_ > *{ width:112px; }
.w1120 .wp15_ > *{ width:168px; }
.w1120 .wp20_ > *{ width:224px; }
.w1120 .wp25_ > *{ width:280px; }
.w1120 .wp30_ > *{ width:336px; }
.w1120 .wp35_ > *{ width:392px; }
.w1120 .wp40_ > *{ width:448px; }
.w1120 .wp45_ > *{ width:504px; }
.w1120 .wp50_ > *{ width:560px; }
.w1120 .wp55_ > *{ width:616px; }
.w1120 .wp60_ > *{ width:672px; }
.w1120 .wp65_ > *{ width:728px; }
.w1120 .wp70_ > *{ width:784px; }
.w1120 .wp75_ > *{ width:840px; }
.w1120 .wp80_ > *{ width:896px; }
.w1120 .wp85_ > *{ width:952px; }
.w1120 .wp90_ > *{ width:1008px; }
.w1120 .wp95_ > *{ width:1064px; }
/*等宽多列布局*/
.w1120 .col2{ width:560px; }
.w1120 .col3{ width:373px; }
.w1120 .col4{ width:280px; }
.w1120 .col5{ width:224px; }
.w1120 .col6{ width:186px; }
.w1120 .col7{ width:160px; }
.w1120 .col2_ > *{ width:560px; }
.w1120 .col3_ > *{ width:373px; }
.w1120 .col4_ > *{ width:280px; }
.w1120 .col5_ > *{ width:224px; }
.w1120 .col6_ > *{ width:186px; }
.w1120 .col7_ > *{ width:160px; }

/*带间距的等宽多列布局 ,并且靠左边的那列 与 靠右边的那列紧贴父容器*/
.w1120 .col2L5_{
    width:1125px;
    left:-5px;
}
.w1120 .col2L5__ > *{
    width:557px;
    margin-left:5px;
}
.w1120 .col2L10_{
    width:1130px;
    left:-10px;
}
.w1120 .col2L10_ > *{
    width:555px;
    margin-left:10px;
}
.w1120 .col3L5_{
    width:1125px;
    left:-5px;
}
.w1120 .col3L5_ > *{ 
    width:370px;
    margin-left:5px;
}
.w1120 .col4L5_{
    width:1125px;
    left:-5px;
}
.w1120 .col4L5_ > *{
    width:276px;
    margin-left:5px;
}
/****************************************
            总宽固定w980
****************************************/
.w980{
    width:980px;
    min-width:980px;
}
.w980 .wp10{ width:98px; }
.w980 .wp15{ width:147px; }
.w980 .wp20{ width:196px; }
.w980 .wp25{ width:245px; }
.w980 .wp30{ width:294px; }
.w980 .wp35{ width:343px; }
.w980 .wp40{ width:392px; }
.w980 .wp45{ width:441px; }
.w980 .wp50{ width:490px; }
.w980 .wp55{ width:539px; }
.w980 .wp60{ width:588px; }
.w980 .wp65{ width:637px; }
.w980 .wp70{ width:686px; }
.w980 .wp75{ width:735px; }
.w980 .wp80{ width:784px; }
.w980 .wp85{ width:833px; }
.w980 .wp90{ width:882px; }
.w980 .wp95{ width:931px; }
.w980 .wp10_ > *{ width:98px; }
.w980 .wp15_ > *{ width:147px; }
.w980 .wp20_ > *{ width:196px; }
.w980 .wp25_ > *{ width:245px; }
.w980 .wp30_ > *{ width:294px; }
.w980 .wp35_ > *{ width:343px; }
.w980 .wp40_ > *{ width:392px; }
.w980 .wp45_ > *{ width:441px; }
.w980 .wp50_ > *{ width:490px; }
.w980 .wp55_ > *{ width:539px; }
.w980 .wp60_ > *{ width:588px; }
.w980 .wp65_ > *{ width:637px; }
.w980 .wp70_ > *{ width:686px; }
.w980 .wp75_ > *{ width:735px; }
.w980 .wp80_ > *{ width:784px; }
.w980 .wp85_ > *{ width:833px; }
.w980 .wp90_ > *{ width:882px; }
.w980 .wp95_ > *{ width:931px; }
/*等宽多列布局*/
.w980 .col2{ width:490px; }
.w980 .col3{ width:326px; }
.w980 .col4{ width:245px; }
.w980 .col5{ width:196px; }
.w980 .col6{ width:163px; }
.w980 .col7{ width:140px; }
.w980 .col2_ > *{ width:490px; }
.w980 .col3_ > *{ width:326px; }
.w980 .col4_ > *{ width:245px; }
.w980 .col5_ > *{ width:196px; }
.w980 .col6_ > *{ width:163px; }
.w980 .col7_ > *{ width:140px; }

/*带间距的等宽多列布局 ,并且靠左边的那列 与 靠右边的那列紧贴父容器*/
.w980 .col2L5_{   /*总宽加5*/
    width:985px;
    left:-5px;
}
.w980 .col2L5__ > *{
    width:487px;  /*(985-10)/2*/
    margin-left:5px;
}
.w980 .col2L10_{ /*总宽加5*/
    width:990px;
    left:-10px;
}
.w980 .col2L10_ > *{
    width:485px; /*(990-20)/2*/
    margin-left:10px;
}
.w980 .col3L5_{
    width:985px;
    left:-5px;
}
.w980 .col3L5_ > *{ 
    width:323px;     /*985-15/3*/
    margin-left:5px;
}
.w980 .col4L5_{
    width:985px;
    left:-5px;
}
.w980 .col4L5_ > *{
    width:241px;     /*985-20/3*/
    margin-left:5px;
}
/****************************************
               手机响应式
****************************************/
.m_wp5{ width:5%; }
.m_wp10{ width:10%; }
.m_wp15{ width:15%; }
.m_wp20{ width:20%; }
.m_wp25{ width:25%; }
.m_wp30{ width:30%; }
.m_wp33{ width:33.333333%; }
.m_wp35{ width:35%; }
.m_wp40{ width:40%; }
.m_wp45{ width:45%; }
.m_wp50{ width:50%; }
.m_wp55{ width:55%; }
.m_wp60{ width:60%; }
.m_wp65{ width:65%; }
.m_wp70{ width:70%; }
.m_wp75{ width:75%; }
.m_wp80{ width:80%; }
.m_wp85{ width:85%; }
.m_wp90{ width:90%; }
.m_wp95{ width:95%; }
.m_wp5_ > *{ width:5%; }
.m_wp10_ > *{ width:10%; }
.m_wp15_ > *{ width:15%; }
.m_wp20_ > *{ width:20%; }
.m_wp25_ > *{ width:25%; }
.m_wp30_ > *{ width:30%; }
.m_wp35_ > *{ width:35%; }
.m_wp40_ > *{ width:40%; }
.m_wp45_ > *{ width:45%; }
.m_wp50_ > *{ width:50%; }
.m_wp55_ > *{ width:55%; }
.m_wp60_ > *{ width:60%; }
.m_wp65_ > *{ width:65%; }
.m_wp70_ > *{ width:70%; }
.m_wp75_ > *{ width:75%; }
.m_wp80_ > *{ width:80%; }
.m_wp85_ > *{ width:85%; }
.m_wp90_ > *{ width:90%; }
.m_wp95_ > *{ width:95%; }

.m_col2_ > *{ width:50%; }
.m_col3_ > *{ width:33.333333%; }
.m_col4_ > *{ width:25%; }

/*带间距的两列布局*/
.m_col2L10_{
    width:102.409638%;
    left:-2.409638%;
}
.m_col2L10_ > *{
    margin-left:2.352941%;
    width:47.647058%;
}
/*
以宽为415px，一行中存在两列，且列与列的间距为10px的方式来计算
内容容器宽就是425xp，425/415 ＝ 102.409638%;
内容容器多了10px，因此要左移10px, 10/425 ＝ 2.409638%;
内容容器中每列的宽存在左边距10px，10/425 ＝ 2.409638%;
内容容器的宽减去两个左边距余下的宽平分给各列，425-20 ＝ 405 ，405/2 ＝ 202.5 ，202.5/425 ＝ 47.647058
*/
/****************************************
            CSS 组 件(部分很快会被js替代)
****************************************/
/*
    给ul添加list类名
    给第一行的标题行li添加ltTab类名
*/
.list{
    list-style:none;
}
.list li{
    width:100%;
    line-height:35px;
    border-bottom:1px solid rgb(204,204,204);
}
.list .ltTab{
    text-align:center;
}
.list .lsTab{
    text-align:center;
}
.list li div{
    padding-left:5px;
}

/*选中单选按钮 ,紧跟单选按钮后面的那个隐藏元素显式出来*/
.checkRadio input[type="radio"]:checked + .hide{
	display:block;
}

/*多选组件 ,选中与非选中状态 ,其后面的容器元素内的图片进行相应的显式切换*/
.select_checkBox_Img .selected{
	display:none;
}
.select_checkBox_Img  input[type="checkbox"]:checked + .container .selected{
	display:inline;
}
.select_checkBox_Img  input[type="checkbox"]:checked + .container .chanel{
	display:none;
}

/****************************************
         配合JS插件的布局样式
****************************************/
/*页面回到顶部*/
.goTop{
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:100%;
    background-color:rgb(221,221,221);
    position:fixed;
    bottom:50px;
    right:10px;
    cursor:pointer;
    color:color:rgb(255,255,255);
    text-align:center;
    box-shadow:1px 1px 1px 1px rgb(187,187,187);
}
/*轮播图中的targets圆点标识*/
.picturesMove_targets{
    width:100%;
	height:10px;
	position:absolute;
	left:0px;
	bottom:20px;
	text-align:center;
	z-index:300;
}
.picturesMove_targets > *{
    width:15px;
    height:15px;
	border:solid 1px rgb(204,204,204);
	border-radius:100%;
	display:inline-block;
	float:none;
	margin-left:5px;
	margin-right:5px;
}
.picturesMove_targets .selected{
    background-color:rgb(255,102,0);
}
/****************************************
              布局样式
****************************************/
/*
  在IE6以及更低版本中 ,通过margin的方式来指定剧中是无效的
  需要给句容元素的容器使用text-align:center;
*/
.center{
	float:none; 
    margin:0px auto;
}
.dpI{ display:inline; } 
.dpB{ display:block; } 
.dpIB{ display:inline-block; }

.dpB_ > *{ display:block; }
.dpI_ > *{ display:inline; } 
.dpIB_ > *{ display:inline-block; }

.flN{ float:none; }
.flR{ float:right; }
.flL{ float:left; }

.flN_ > *{ 
    float:none; 
}
.flR_ > *{
	float:right;
}
.flL_ > *{
	float:left;
}
.flN_img > img{ 
    float:none; 
}
.flNImg img{ 
    float:none; 
}
.txtL{ text-align: left; }
.txtR{ text-align: right; }
.txtC{ text-align: center; }

.txtL_ > *{ text-align: left; }
.txtR_ > *{ text-align: right; }
.txtC_ > *{ text-align: center; }

.undl{
	text-decoration:underline;
}
.undl_ > *{
	text-decoration:underline;
}
.lsN{
    /*用于给<ol>或<ul>添加 ,取消列表样式*/
	list-style:none;
}
.lsD{
	list-style-type:disc;
}
.txtHide{
	overflow: hidden;       /*隐藏溢出的内容*/
	text-overflow:ellipsis; /*将溢出的内容使用...表示*/
	white-space:nowrap;     /*禁止内容溢出后自动换行*/
	/*只有上面三个属性都设置了才会实现:当行显示内容，且溢出的内容使用...表示*/
}
.txtHide_ > *{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.ofAT{ overflow:auto; }
.ofHD{ overflow:hidden; }
.ofAT_ > *{ overflow:auto; }
.ofHD_ > *{ overflow:hidden; }

.otl{
	outline:1px solid rgb(204,204,204);
}
.otl_ > *{
	outline:1px solid rgb(204,204,204);
}

.bd{
    border:1px solid rgb(221,221,221);
}

.bdT{
    border-top:1px solid rgb(221,221,221);
}
.bdB{
    border-bottom:1px solid rgb(221,221,221);
}
.bdL{
    border-left:1px solid rgb(221,221,221);
}
.bdR{
    border-right:1px solid rgb(221,221,221);
}

.bdB_ > *{
    border-bottom:1px solid rgb(221,221,221);
}
.bdB0{
    border-bottom:1px solid rgb(0,0,0);
}
.bdB0_ > *{
    border-bottom:1px solid rgb(0,0,0);
}
.bdB123{
    border-bottom:1px solid rgb(255,204,0);
}
.bdBi{
    width:100%;
    height:0px;
    border-bottom:1px solid rgb(221,221,221);
    position:absolute;
    bottom:0px;
    left:0px;
}

.sd{/*四周阴影,阴影效果*/
	box-shadow:1px 1px 1px 1px rgb(187,187,187);
}
.sd2{
	box-shadow:2px 2px 2px 2px rgb(187,187,187);
}
.sd3{
	box-shadow:3px 3px 3px 3px rgb(187,187,187);
}
.sd_ > *{
	box-shadow:1px 1px 1px 1px rgb(187,187,187);
}

.wp100{ width:100%; }
.wp100_ > *{ width:100%; }
.wp100Img img{ width:100%; }

.hp100{ height:100%; }
.hp100_ > *{ height:100%; }

.whp100{
	width:100%;
	height:100%;
}
.whp100_ > *{
	width:100%;
	height:100%;
}

.minW150  { min-width:150px; }
.minW640  { min-width:640px; }
.minW980  { min-width:980px; }
.minW1024 { min-width:1024px; }

.minW150_ > *  { min-width:150px; }

.maxW980 { max-width:980px; }
.maxW1024 { max-width:1024px; }

.w980{ width:980px; }

.w0{ width:0px; }
.w1{ width:1px; }
.w3{ width:3px; }
.w5{ width:5px; }
.w8{ width:8px; }
.w9{ width:9px; }
.w10{ width:10px; }
.w11{ width:11px; }
.w12{ width:12px; }
.w13{ width:13px; }
.w15{ width:15px; }
.w17{ width:17px; }
.w18{ width:18px; }
.w20{ width:20px; }
.w23{ width:23px; }
.w25{ width:25px; }
.w30{ width:30px; }
.w32{ width:32px; }
.w33{ width:33px; }
.w35{ width:35px; }
.w40{ width:40px; }
.w45{ width:45px; }
.w50{ width:50px; }
.w55{ width:55px; }
.w60{ width:60px; }
.w65{ width:65px; }
.w67{ width:67px; }
.w68{ width:68px; }
.w70{ width:70px; }
.w75{ width:75px; }
.w80{ width:80px; }
.w85{ width:85px; }
.w90{ width:90px; }
.w95{ width:95px; }
.w100{ width:100px; }
.w105{ width:105px; }
.w110{ width:110px; }
.w120{ width:120px; }
.w125{ width:125px; }
.w130{ width:130px; }
.w135{ width:135px; }
.w140{ width:140px; }
.w150{ width:150px; }
.w155{ width:155px; }
.w160{ width:160px; }
.w165{ width:165px; }
.w170{ width:170px; }
.w175{ width:175px; }
.w180{ width:180px; }
.w185{ width:185px; }
.w190{ width:190px; }
.w195{ width:195px; }
.w200{ width:200px; }
.w204{ width:204px; }
.w205{ width:205px; }
.w210{ width:210px; }
.w213{ width:213px; }
.w214{ width:214px; }
.w225{ width:225px; }
.w230{ width:230px; }
.w240{ width:240px; }
.w245{ width:245px; }
.w250{ width:250px; }
.w255{ width:255px; }
.w260{ width:260px; }
.w265{ width:265px; }
.w270{ width:270px; }
.w275{ width:275px; }
.w280{ width:280px; }
.w290{ width:290px; }
.w300{ width:300px; }
.w310{ width:310px; }
.w320{ width:320px; }
.w335{ width:335px; }
.w340{ width:340px; }
.w350{ width:350px; }
.w380{ width:380px; }
.w390{ width:390px; }
.w400{ width:400px; }
.w420{ width:420px; }
.w430{ width:430px; }
.w435{ width:435px; }
.w440{ width:440px; }
.w450{ width:450px; }
.w460{ width:460px; }
.w470{ width:470px; }
.w490{ width:490px; }
.w500{ width:500px; }
.w510{ width:510px; }
.w520{ width:520px; }
.w540{ width:540px; }
.w545{ width:545px; }
.w550{ width:550px; }
.w555{ width:555px; }
.w560{ width:560px; }
.w570{ width:570px; }
.w580{ width:580px; }
.w590{ width:590px; }
.w600{ width:600px; }
.w635{ width:635px; }
.w640{ width:640px; }
.w660{ width:660px; }
.w680{ width:680px; }
.w685{ width:685px; }
.w700{ width:700px; }
.w710{ width:710px; }
.w720{ width:720px; }
.w730{ width:730px; }
.w740{ width:740px; }
.w785{ width:785px; }
.w795{ width:795px; }
.w800{ width:800px; }
.w810{ width:810px; }
.w845{ width:845px; }
.w850{ width:850px; }
.w870{ width:870px; }
.w890{ width:890px; }
.w900{ width:900px; }
.w910{ width:910px; }
.w960{ width:960px; }

.w1000{ width:1000px; }
.w1050{ width:1050px; }
.w1080{ width:1080px; }
.w1024{ width:1024px; }
.w1160{ width:1160px; }
.w1170{ width:1170px; }
.w1200{ width:1200px; }
.w1250{ width:1250px; }
.w1290{ width:1290px; }
.w1330{ width:1330px; }
.w1425{ width:1425px; }
.w1920{ width:1920px; }
.w2560{ width:2560px; }

.w0_ > *{ width:0px; }
.w1_ > *{ width:1px; }
.w5_ > *{ width:5px; }
.w10_ > *{ width:10px; }
.w12_ > *{ width:12px; }
.w13_ > *{ width:13px; }
.w15_ > *{ width:15px; }
.w20_ > *{ width:20px; }
.w25_ > *{ width:25px; }
.w35_ > *{ width:35px; }
.w40_ > *{ width:40px; }
.w50_ > *{ width:50px; }
.w55_ > *{ width:55px; }
.w70_ > *{ width:70px; }
.w75_ > *{ width:75px; }
.w80_ > *{ width:80px; }
.w85_ > *{ width:85px; }
.w90_ > *{ width:90px; }
.w100_ > *{ width:100px; }
.w105_ > *{ width:105px; }
.w110_ > *{ width:110px; }
.w120_ > *{ width:120px; }
.w125_ > *{ width:125px; }
.w128_ > *{ width:128px; }
.w130_ > *{ width:130px; }
.w132_ > *{ width:132px; }
.w140_ > *{ width:140px; }
.w150_ > *{ width:150px; }
.w160_ > *{ width:160px; }
.w165_ > *{ width:165px; }
.w170_ > *{ width:170px; }
.w175_ > *{ width:175px; }
.w200_ > *{ width:200px; }
.w210_ > *{ width:210px; }
.w213_ > *{ width:213px; }
.w220_ > *{ width:220px; }
.w240_ > *{ width:240px; }
.w245_ > *{ width:245px; }
.w300_ > *{ width:300px; }
.w340_ > *{ width:340px; }
.w410_ > *{ width:410px; }
.w500_ > *{ width:500px; }
.w530_ > *{ width:530px; }
.w620_ > *{ width:620px; }
.w640_ > *{ width:640px; }
.w730_ > *{ width:730px; }
.w980_ > *{ width:980px; }

.h0{ height:0px; }
.h1{ height:1px; }
.h2{ height:2px; }
.h5{ height:5px; }
.h10{ height:10px; }
.h12{ height:12px; }
.h13{ height:13px; }
.h15{ height:15px; }
.h17{ height:17px; }
.h18{ height:18px; }
.h20{ height:20px; }
.h23{ height:23px; }
.h25{ height:25px; }
.h30{ height:30px; }
.h31{ height:31px; }
.h32{ height:32px; }
.h33{ height:33px; }
.h34{ height:34px; }
.h35{ height:35px; }
.h36{ height:36px; }
.h37{ height:37px; }
.h38{ height:38px; }
.h39{ height:39px; }
.h40{ height:40px; }
.h45{ height:45px; }
.h50{ height:50px; }
.h55{ height:55px; }
.h60{ height:60px; }
.h65{ height:65px; }
.h70{ height:70px; }
.h75{ height:75px; }
.h80{ height:80px; }
.h85{ height:85px; }
.h90{ height:90px; }
.h95{ height:95px; }
.h100{ height:100px; }
.h105{ height:105px; }
.h110{ height:110px; }
.h115{ height:115px; }
.h120{ height:120px; }
.h130{ height:130px; }
.h140{ height:140px; }
.h150{ height:150px; }
.h155{ height:155px; }
.h160{ height:160px; }
.h165{ height:165px; }
.h170{ height:170px; }
.h175{ height:175px; }
.h180{ height:180px; }
.h185{ height:185px; }
.h190{ height:190px; }
.h200{ height:200px; }
.h210{ height:210px; }
.h230{ height:230px; }
.h240{ height:240px; }
.h250{ height:250px; }
.h255{ height:255px; }
.h260{ height:260px; }
.h270{ height:270px; }
.h280{ height:280px; }
.h290{ height:290px; }
.h300{ height:300px; }
.h310{ height:310px; }
.h330{ height:330px; }
.h350{ height:350px; }
.h370{ height:370px; }
.h400{ height:400px; }
.h420{ height:420px; }
.h450{ height:450px; }
.h500{ height:500px; }
.h510{ height:510px; }
.h550{ height:550px; }
.h590{ height:590px; }
.h600{ height:600px; }
.h670{ height:670px; }
.h700{ height:700px; }
.h800{ height:800px; }
.h1000{ height:1000px; }
.h1140{ height:1140px; }

.h5_ > *{ height:5px; }
.h10_ > *{ height:10px; }
.h12_ > *{ height:12px; }
.h13_ > *{ height:13px; }
.h15_ > *{ height:15px; }
.h16_ > *{ height:16px; }
.h17_ > *{ height:17px; }
.h18_ > *{ height:18px; }
.h19_ > *{ height:19px; }
.h20_ > *{ height:20px; }
.h25_ > *{ height:25px; }
.h30_ > *{ height:30px; }
.h35_ > *{ height:35px; }
.h40_ > *{ height:40px; }
.h45_ > *{ height:45px; }
.h50_ > *{ height:50px; }
.h55_ > *{ height:55px; }
.h60_ > *{ height:60px; }
.h70_ > *{ height:70px; }
.h75_ > *{ height:75px; }
.h80_ > *{ height:80px; }
.h85_ > *{ height:85px; }
.h100_ > *{ height:100px; }
.h105_ > *{ height:105px; }
.h110_ > *{ height:110px; }
.h130_ > *{ height:130px; }
.h150_ > *{ height:150px; }
.h165_ > *{ height:165px; }
.h175_ > *{ height:175px; }
.h200_ > *{ height:200px; }
.h210_ > *{ height:210px; }
.h220_ > *{ height:220px; }
.h240_ > *{ height:240px; }
.h250_ > *{ height:250px; }
.h300_ > *{ height:300px; }
.h340_ > *{ height:340px; }
.h350_ > *{ height:350px; }
.h400_ > *{ height:400px; }

.psS{ position:static; }
.psR{ position:relative; }
.psA{ position:absolute; }
.psF{ position:fixed; }
.psA_ > *{ position:absolute; }

.zid1{ z-index:100; }
.zid2{ z-index:200; }
.zid3{ z-index:300; }
.zid4{ z-index:400; }
.zid5{ z-index:500; }
.zid6{ z-index:600; }
.zid7{ z-index:700; }

.tl0{
	top:0px;
	left:0px;
}
.tl0_ > *{
	top:0px;
	left:0px;
}
.tr0{
	top:0px;
	right:0px;
}
.tr0_ > *{
	top:0px;
	right:0px;
}
.bl0{
	bottom:0px;
	left:0px;
}
.bl0_ > *{
	bottom:0px;
	left:0px;
}
.br0_ > *{
	bottom:0px;
	right:0px;
}

.t-100{ top:-100px; }
.t-90{ top:-90px; }
.t-80{ top:-80px; }
.t-70{ top:-70px; }
.t-60{ top:-60px; }
.t-50{ top:-50px; }
.t-40{ top:-40px; }
.t-25{ top:-25px; }
.t-20{ top:-20px; }
.t-15{ top:-15px; }
.t-13{ top:-13px; }
.t-10{ top:-10px; }
.t-9{ top:-9px; }
.t-8{ top:-8px; }
.t-7{ top:-7px; }
.t-6{ top:-6px; }
.t-5{ top:-5px; }
.t-4{ top:-4px; }
.t-3{ top:-3px; }
.t-2{ top:-2px; }
.t-1{ top:-1px; }
.t0{ top:0px; }
.t1{ top:1px; }
.t2{ top:2px; }
.t3{ top:3px; }
.t4{ top:4px; }
.t5{ top:5px; }
.t6{ top:6px; }
.t7{ top:7px; }
.t8{ top:8px; }
.t9{ top:9px; }
.t10{ top:10px; }
.t11{ top:11px; }
.t12{ top:12px; }
.t13{ top:13px; }
.t14{ top:14px; }
.t15{ top:15px; }
.t20{ top:20px; }
.t23{ top:23px; }
.t25{ top:25px; }
.t30{ top:30px; }
.t31{ top:31px; }
.t32{ top:32px; }
.t33{ top:33px; }
.t35{ top:35px; }
.t40{ top:40px; }
.t45{ top:45px; }
.t50{ top:50px; }
.t60{ top:60px; }
.t65{ top:65px; }
.t70{ top:70px; }
.t100{ top:100px; }
.t115{ top:115px; }
.t200{ top:200px; }
.t300{ top:300px; }
.t350{ top:350px; }
.t500{ top:500px; }
.t550{ top:550px; }
.t600{ top:600px; }
.t700{ top:700px; }
.t750{ top:750px; }

.tp17{ top:17%;}
.tp26{ top:26%;}
.tp32{ top:32%;}
.tp35{ top:35%;}
.tp36{ top:36%;}
.tp40{ top:40%;}
.tp45{ top:45%;}
.tp50{ top:50%;}
.tp55{ top:55%;}
.tp60{ top:60%;}

.b-100{ bottom:-100px; }
.b-90{ bottom:-90px; }
.b-80{ bottom:-80px; }
.b-70{ bottom:-70px; }
.b-60{ bottom:-60px; }
.b-50{ bottom:-50px; }
.b-40{ bottom:-40px; }
.b-30{ bottom:-30px; }
.b-20{ bottom:-20px; }
.b-10{ bottom:-10px; }
.b-6{ bottom:-6px; }
.b-5{ bottom:-5px; }
.b-4{ bottom:-4px; }
.b-3{ bottom:-3px; }
.b-2{ bottom:-2px; }
.b-1{ bottom:-1px; }
.b0{ bottom:0px; }
.b2{ bottom:2px; }
.b5{ bottom:5px; }
.b10{ bottom:10px; }
.b15{ bottom:15px; }
.b20{ bottom:20px; }
.b25{ bottom:25px; }
.b30{ bottom:30px; }
.b35{ bottom:35px; }
.b40{ bottom:40px; }
.b50{ bottom:50px; }
.b60{ bottom:60px; }
.b70{ bottom:70px; }
.b80{ bottom:80px; }
.b90{ bottom:90px; }
.b100{ bottom:100px; }
.b160{ bottom:160px; }
.b180{ bottom:180px; }

.bp10{ bottom:10%; }
.bp20{ bottom:20%; }

.l-525{ left:-525px; }
.l-470{ left:-470px; }
.l-448{ left:-448px; }
.l-200_ > * { left:-200px; }
.l-200{ left:-200px; }
.l-100{ left:-100px; }
.l-90{ left:-90px; }
.l-80{ left:-80px; }
.l-75{ left:-75px; }
.l-70{ left:-70px; }
.l-60{ left:-60px; }
.l-50{ left:-50px; }
.l-40{ left:-40px; }
.l-30{ left:-30px; }
.l-27{ left:-27px; }
.l-25{ left:-25px; }
.l-20{ left:-20px; }
.l-15{ left:-15px; }
.l-10{ left:-10px; }
.l-9{ left:-9px; }
.l-8{ left:-8px; }
.l-7{ left:-7px; }
.l-6{ left:-6px; }
.l-5{ left:-5px; }
.l-4{ left:-4px; }
.l-3{ left:-3px; }
.l-2{ left:-2px; }
.l-1{ left:-1px; }
.l0{ left:0px; }
.l1{ left:1px; }
.l2{ left:2px; }
.l3{ left:3px; }
.l4{ left:4px; }
.l5{ left:5px; }
.l10{ left:10px; }
.l11{ left:11px; }
.l12{ left:12px; }
.l13{ left:13px; }
.l14{ left:14px; }
.l15{ left:15px; }
.l16{ left:16px; }
.l17{ left:17px; }
.l18{ left:18px; }
.l19{ left:19px; }
.l20{ left:20px; }
.l25{ left:25px; }
.l30{ left:30px; }
.l35{ left:35px; }
.l40{ left:40px; }
.l42{ left:42px; }
.l50{ left:50px; }
.l60{ left:60px; }
.l65{ left:65px; }
.l70{ left:70px; }
.l80{ left:80px; }
.l90{ left:90px; }
.l100{ left:100px; }
.l105{ left:105px; }
.l110{ left:110px; }
.l120{ left:120px; }
.l130{ left:130px; }
.l132{ left:132px; }
.l134{ left:134px; }
.l135{ left:135px; }
.l140{ left:140px; }
.l150{ left:150px; }
.l195{ left:195px; }
.l200{ left:200px; }
.l210{ left:210px; }
.l220{ left:220px; }
.l230{ left:230px; }
.l240{ left:240px; }
.l250{ left:250px; }
.l260{ left:260px; }
.l300{ left:300px; }
.l350{ left:350px; }
.l400{ left:400px; }
.l410{ left:410px; }
.l450{ left:450px; }
.l470{ left:470px; }
.l500{ left:500px; }
.l550{ left:550px; }
.l600{ left:600px; }
.l750{ left:750px; }
.l790{ left:790px; }
.l900{ left:900px; }

.r-20{ right:-20px; }
.r-15{ right:-15px; }
.r-13{ right:-13px; }
.r-10{ right:-10px; }
.r-6{ right:-6px; }
.r-5{ right:-5px; }
.r-4{ right:-4px; }
.r-3{ right:-3px; }
.r-2{ right:-2px; }
.r-1{ right:-1px; }
.r0{ right:0px; }
.r1{ right:1px; }
.r2{ right:2px; }
.r3{ right:3px; }
.r4{ right:4px; }
.r5{ right:5px; }
.r10{ right:10px; }
.r15{ right:15px; }
.r20{ right:20px; }
.r25{ right:25px; }
.r30{ right:30px; }
.r35{ right:35px; }
.r40{ right:40px; }
.r45{ right:45px; }
.r50{ right:50px; }
.r55{ right:55px; }
.r60{ right:60px; }
.r95{ right:95px; }
.r100{ right:100px; }
.r110{ right:110px; }
.r120{ right:120px; }
.r130{ right:130px; }
.r140{ right:140px; }
.r150{ right:150px; }
.r155{ right:155px; }
.r200{ right:200px; }
.r250{ right:250px; }
.r300{ right:300px; }
.r350{ right:350px; }

.pd0{ padding:0px; }
.pd1{ padding:1px; }
.pd2{ padding:2px; }
.pd3{ padding:3px; }
.pd5{ padding:5px; }
.pd10{ padding:10px; }
.pd15{ padding:15px; }
.pd20{ padding:20px; }
.pd25{ padding:25px; }
.pd30{ padding:30px; }
.pd40{ padding:40px; }
.pd50{ padding:50px; }

.pd0_ > *{ padding:0px; }
.pd1_ > *{ padding:1px; }
.pd2_ > *{ padding:2px; }
.pd3_ > *{ padding:3px; }
.pd5_ > *{ padding:5px; }
.pd10_ > *{ padding:10px; }
.pd15_ > *{ padding:15px; }
.pd20_ > *{ padding:20px; }
.pd25_ > *{ padding:25px; }
.pd30_ > *{ padding:30px; }

.pdT0{ padding-top:0px; }
.pdT5{ padding-top:5px; }
.pdT10{ padding-top:10px; }
.pdT15{ padding-top:15px; }
.pdT20{ padding-top:20px; }
.pdT25{ padding-top:25px; }
.pdT30{ padding-top:30px; }
.pdT33{ padding-top:33px; }
.pdT35{ padding-top:35px; }
.pdT40{ padding-top:40px; }
.pdT45{ padding-top:45px; }
.pdT50{ padding-top:50px; }
.pdT60{ padding-top:60px; }
.pdT70{ padding-top:70px; }
.pdT80{ padding-top:80px; }
.pdT90{ padding-top:90px; }
.pdT100{ padding-top:100px; }


.pdB0{ padding-bottom:0px; }
.pdB5{ padding-bottom:5px; }
.pdB10{ padding-bottom:10px; }
.pdB15{ padding-bottom:15px; }
.pdB20{ padding-bottom:20px; }
.pdB25{ padding-bottom:25px; }
.pdB30{ padding-bottom:30px; }
.pdB50{ padding-bottom:50px; }
.pdB100{ padding-bottom:100px; }
.pdB100{ padding-bottom:100px; }
.pdB150{ padding-bottom:150px; }

.pdB50_ > *{ padding-bottom:50px; }
.pdB60_ > *{ padding-bottom:60px; }

.pdL1{ padding-left:1px; }
.pdL5{ padding-left:5px; }
.pdL10{ padding-left:10px; }
.pdL15{ padding-left:15px; }
.pdL20{ padding-left:20px; }
.pdL25{ padding-left:25px; }
.pdL30{ padding-left:30px; }
.pdL40{ padding-left:40px; }
.pdL50{ padding-left:50px; }
.pdL80{ padding-left:80px; }
.pdL90{ padding-left:90px; }
.pdL100{ padding-left:100px; }
.pdL200{ padding-left:200px; }


.pdT5_ > *{ padding-top:5px; }

.pdL5_ > *{ padding-left:5px; }
.pdL10_ > *{ padding-left:10px; }
.pdL20_ > *{ padding-left:20px; }
.pdL30_ > *{ padding-left:30px; }
.pdL40_ > *{ padding-left:40px; }
.pdL50_ > *{ padding-left:50px; }


.pdR0{ padding-right:0px; }
.pdR0-5{ padding-right:0.5px; }
.pdR1{ padding-right:1px; }
.pdR5{ padding-right:5px; }
.pdR10{ padding-right:10px; }
.pdR15{ padding-right:15px; }
.pdR20{ padding-right:20px; }
.pdR25{ padding-right:25px; }
.pdR30{ padding-right:30px; }
.pdR40{ padding-right:40px; }
.pdR45{ padding-right:45px; }

.pdR15_ > *{ padding-right:15px; }

/*为何要拆开写？因为padding:5px 0px 5px 0px;这种写法影响到了另外两边到值*/
.pdTB5{ padding-top:5px; padding-bottom:5px; }
.pdTB10{ padding-top:10px; padding-bottom:10px; }
.pdTB15{ padding-top:15px; padding-bottom:15px; }
.pdTB20{ padding-top:20px; padding-bottom:20px; }
.pdTB25{ padding-top:25px; padding-bottom:25px; }
.pdTB30{ padding-top:30px; padding-bottom:30px; }
.pdTB40{ padding-top:40px; padding-bottom:40px; }
.pdTB50{ padding-top:50px; padding-bottom:50px; }
.pdTB60{ padding-top:60px; padding-bottom:60px; }
.pdTB100{ padding-top:100px; padding-bottom:100px; }
.pdTB130{ padding-top:150px; padding-bottom:130px; }
.pdTB150{ padding-top:150px; padding-bottom:150px; }
.pdTB300{ padding-top:300px; padding-bottom:300px; }


.pdTB5_ > *{ padding-top:5px; padding-bottom:5px; }
.pdTB10_ > *{ padding-top:10px; padding-bottom:10px; }
.pdTB20_ > *{ padding-top:20px; padding-bottom:20px; }
.pdTB30_ > *{ padding-top:30px; padding-bottom:30px; }

.pdTB5A a{ padding-top:5px; padding-bottom:5px; }


.pdLR5 { padding-left:5px; padding-right:5px; }
.pdLR10{ padding-left:10px; padding-right:10px; }
.pdLR15{ padding-left:15px; padding-right:15px; }
.pdLR20{ padding-left:20px; padding-right:20px; }
.pdLR25{ padding-left:25px; padding-right:25px; }
.pdLR30{ padding-left:30px; padding-right:30px; }
.pdLR45{ padding-left:45px; padding-right:45px; }
.pdLR50{ padding-left:50px; padding-right:50px; }
.pdLR60{ padding-left:60px; padding-right:60px; }
.pdLR100{ padding-left:100px; padding-right:100px; }
.pdLR200{ padding-left:200px; padding-right:200px; }

.pdLR5_ > *{
    padding-left:5px;
	padding-right:5px;
}
.pdLR10_ > *{
    padding-left:10px;
	padding-right:10px;
}
.pdLR15_ > *{
    padding-left:15px;
	padding-right:15px;
}
.pdLR20_ > *{
    padding-left:20px;
	padding-right:20px;
}

.mg0{ margin:0px; }
.mg5{ margin:5px; }
.mg10{ margin:10px; }
.mg15{ margin:15px; }
.mg20{ margin:20px; }

.mg5_ > *{ margin:5px; }

.mgT-100{ margin-top:-100px; }
.mgT-30{ margin-top:-30px; }
.mgT-15{ margin-top:-15px; }
.mgT-12{ margin-top:-12px; }
.mgT-10{ margin-top:-10px; }
.mgT-5{ margin-top:-5px; }
.mgT0{ margin-top:0px; }
.mgT1{ margin-top:1px; }
.mgT2{ margin-top:2px; }
.mgT3{ margin-top:3px; }
.mgT4{ margin-top:4px; }
.mgT5{ margin-top:5px; }
.mgT6{ margin-top:6px; }
.mgT7{ margin-top:7px; }
.mgT8{ margin-top:8px; }
.mgT9{ margin-top:9px; }
.mgT10{ margin-top:10px; }
.mgT15{ margin-top:15px; }
.mgT20{ margin-top:20px; }
.mgT25{ margin-top:25px; }
.mgT30{ margin-top:30px; }
.mgT35{ margin-top:35px; }
.mgT40{ margin-top:40px; }
.mgT45{ margin-top:45px; }
.mgT50{ margin-top:50px; }
.mgT60{ margin-top:60px; }
.mgT65{ margin-top:65px; }
.mgT70{ margin-top:70px; }
.mgT75{ margin-top:75px; }
.mgT80{ margin-top:80px; }
.mgT85{ margin-top:85px; }
.mgT90{ margin-top:90px; }
.mgT95{ margin-top:95px; }
.mgT100{ margin-top:100px; }
.mgT105{ margin-top: 105px;}
.mgT110{ margin-top:110px; }
.mgT120{ margin-top:120px; }
.mgT130{ margin-top:130px; }
.mgT145{ margin-top:145px; }
.mgT150{ margin-top:150px; }
.mgT170{ margin-top:170px; }
.mgT200{ margin-top:200px; }
.mgT230{ margin-top:230px; }
.mgT250{ margin-top:250px; }
.mgT270{ margin-top:270px; }
.mgT300{ margin-top:300px; }
.mgT350{ margin-top:350px; }
.mgT450{ margin-top:450px; }
.mgT460{ margin-top:460px; }
.mgT500{ margin-top:500px; }
.mgT590{ margin-top:590px; }
.mgT950{ margin-top:950px; }

.mgT1_ > *{ margin-top:1px; }
.mgT5_ > *{ margin-top:5px; }
.mgT10_ > *{ margin-top:10px; }
.mgT15_ > *{ margin-top:15px; }
.mgT20_ > *{ margin-top:20px; }
.mgT25_ > *{ margin-top:25px; }
.mgT30_ > *{ margin-top:30px; }
.mgT35_ > *{ margin-top:35px; }
.mgT40_ > *{ margin-top:40px; }
.mgT45_ > *{ margin-top:45px; }
.mgT50_ > *{ margin-top:50px; }
.mgT70_ > *{ margin-top:70px; }

.mgTP5_ > *{ margin-top:5%; }
.mgTP10_ > *{ margin-top:10%; }
.mgTP15_ > *{ margin-top:15%; }

.mgB5{ margin-bottom:5px; }
.mgB10{ margin-bottom:10px; }
.mgB15{ margin-bottom:15px; }
.mgB20{ margin-bottom:20px; }
.mgB25{ margin-bottom:25px; }
.mgB30{ margin-bottom:30px; }
.mgB35{ margin-bottom:35px; }
.mgB40{ margin-bottom:40px; }
.mgB50{ margin-bottom:50px; }
.mgB60{ margin-bottom:60px; }
.mgB70{ margin-bottom:70px; }
.mgB100{ margin-bottom:100px; }
.mgB130{ margin-bottom:130px; }
.mgB150{ margin-bottom:150px; }
.mgB300{ margin-bottom:300px; }

.mgB5_ > *{ margin-bottom:5px; }
.mgB10_ > *{ margin-bottom:10px; }
.mgB15_ > *{ margin-bottom:15px; }
.mgB20_ > *{ margin-bottom:20px; }
.mgB50_ > *{ margin-bottom:50px; }
.mgB60_ > *{ margin-bottom:60px; }
.mgB70_ > *{ margin-bottom:70px; }

.mgTB10{ margin-top:10px; margin-bottom:10px; }
.mgTB15{ margin-top:15px; margin-bottom:15px; }
.mgTB20{ margin-top:20px; margin-bottom:20px; }
.mgTB30{ margin-top:30px; margin-bottom:30px; }
.mgTB40{ margin-top:40px; margin-bottom:40px; }
.mgTB50{ margin-top:50px; margin-bottom:50px; }
.mgTB60{ margin-top:60px; margin-bottom:60px; }
.mgTB100{ margin-top:100px; margin-bottom:100px; }
.mgTB150{ margin-top:150px; margin-bottom:150px; }
.mgTB200{ margin-top:200px; margin-bottom:200px; }
.mgTB250{ margin-top:250px; margin-bottom:250px; }
.mgTB300{ margin-top:300px; margin-bottom:300px; }

.mgL-200{ margin-left:-200px; }
.mgL-150{ margin-left:-150px; }
.mgL-135{ margin-left:-135px; }
.mgL-40{ margin-left:-40px; }
.mgL0{ margin-left:0px; }
.mgL1{ margin-left:1px; }
.mgL5{ margin-left:5px; }
.mgL10{ margin-left:10px; }
.mgL15{ margin-left:15px; }
.mgL20{ margin-left:20px; }
.mgL25{ margin-left:25px; }
.mgL30{ margin-left:30px; }
.mgL35{ margin-left:35px; }
.mgL40{ margin-left:40px; }
.mgL45{ margin-left:45px; }
.mgL50{ margin-left:50px; }
.mgL60{ margin-left:60px; }
.mgL80{ margin-left:80px; }
.mgL100{ margin-left:100px; }
.mgL130{ margin-left:130px; }
.mgL150{ margin-left:150px; }
.mgL170{ margin-left:170px; }
.mgL175{ margin-left:175px; }
.mgL260{ margin-left:260px; }

.mgL5_ > *{ margin-left:5px; }
.mgL10_ > *{ margin-left:10px; }
.mgL15_ > *{ margin-left:15px; }
.mgL20_ > *{ margin-left:20px; }
.mgL25_ > *{ margin-left:25px; }
.mgL30_ > *{ margin-left:30px; }
.mgL40_ > *{ margin-left:40px; }
.mgL50_ > *{ margin-left:50px; }
.mgL70_ > *{ margin-left:70px; }
.mgL105_ > *{ margin-left:105px; }
.mgL130_ > *{ margin-left:130px; }
.mgL135_ > *{ margin-left:135px; }
.mgL200_ > *{ margin-left:200px; }

.mgLP1{ margin-left:1%; }
.mgLP3{ margin-left:3%; }
.mgLP10{ margin-left:10%; }
.mgLP13{ margin-left:13%; }
.mgLP15{ margin-left:15%; }
.mgLP16{ margin-left:16%; }
.mgLP19{ margin-left:19%; }

.mgLP1_ > *{ margin-left:1%; }
.mgLP3_ > *{ margin-left:3%; }
.mgLP16_ > *{ margin-left:16%; }
.mgLP19_ > *{ margin-left:19%; }

.mgR5{ margin-right:5px; }
.mgR10{ margin-right:10px; }
.mgR15{ margin-right:15px; }
.mgR20{ margin-right:20px; }
.mgR25{ margin-right:25px; }
.mgR30{ margin-right:30px; }
.mgR40{ margin-right:40px; }
.mgR50{ margin-right:50px; }
.mgR60{ margin-right:60px; }

.mgR1_ > *{ margin-right:1px; }
.mgR2_ > *{ margin-right:2px; }
.mgR3_ > *{ margin-right:3px; }
.mgR4_ > *{ margin-right:4px; }
.mgR5_ > *{ margin-right:5px; }
.mgR10_ > *{ margin-right:10px; }
.mgR15_ > *{ margin-right:15px; }
.mgR20_ > *{ margin-right:20px; }
.mgR25_ > *{ margin-right:25px; }
.mgR30_ > *{ margin-right:30px; }
.mgR40_ > *{ margin-right:40px; }
.mgR50_ > *{ margin-right:50px; }
.mgR60_ > *{ margin-right:60px; }

.mgRP5{ margin-right:5%; }
.mgRP10{ margin-right:10%; }
.mgRP15{ margin-right:15%; }
.mgRP20{ margin-right:20%; }
.mgRP25{ margin-right:25%; }
.mgRP30{ margin-right:30%; }
.mgRP40{ margin-right:40%; }
.mgRP50{ margin-right:50%; }
.mgRP60{ margin-right:60%; }

.mgRP10_ > *{ margin-right:10%; }


.mgLR5{ margin-left:5px; margin-right:5px; }
.mgLR10{ margin-left:10px; margin-right:10px; }
.mgLR15{ margin-left:15px; margin-right:15px; }
.mgLR20{ margin-left:20px; margin-right:20px; }

.mgLR5_ > *{
	margin-left:10px; margin-right:10px;
}
.mgLR10_ > *{
	margin-left:10px; margin-right:10px;
}
.mgLR15_ > *{
	margin-left:15px; margin-right:15px;
}
.mgLR20_ > *{
	margin-left:20px; margin-right:20px;
}
.mgLR25_ > *{
	margin-left:25px; margin-right:25px;
}
.mgLR35_ > *{
	margin-left:35px; margin-right:35px;
}
.mgLR50_ > *{
	margin-left:50px; margin-right:50px;
}
.mgLR100_ > *{
	margin-left:100px; margin-right:100px;
}
.ftS5{ font-size:5px; }
.ftS6{ font-size:6px; }
.ftS7{ font-size:7px; }
.ftS8{ font-size:8px; }
.ftS9{ font-size:9px; }
.ftS10{ font-size:10px; }
.ftS11{ font-size:11px; }
.ftS12{ font-size:12px; }
.ftS13{ font-size:13px; }
.ftS14{ font-size:14px; }
.ftS15{ font-size:15px; }
.ftS16{ font-size:16px; }
.ftS17{ font-size:17px; }
.ftS18{ font-size:18px; }
.ftS19{ font-size:19px; }
.ftS20{ font-size:20px; }
.ftS21{ font-size:21px; }
.ftS22{ font-size:22px; }
.ftS23{ font-size:23px; }
.ftS24{ font-size:24px; }
.ftS25{ font-size:25px; }
.ftS26{ font-size:26px; }
.ftS27{ font-size:27px; }
.ftS28{ font-size:28px; }
.ftS30{ font-size:30px; }
.ftS32{ font-size:32px; }
.ftS33{ font-size:33px; }
.ftS35{ font-size:35px; }
.ftS36{ font-size:36px; }
.ftS38{ font-size:38px; }
.ftS40{ font-size:40px; }
.ftS45{ font-size:45px; }
.ftS50{ font-size:50px; }
.ftS52{ font-size:52px; }
.ftS64{ font-size:64px; }

.ftS16_ > *{ font-size:16px; }
.ftS17_ > *{ font-size:17px; }
.ftS18_ > *{ font-size:18px; }
.ftS19_ > *{ font-size:19px; }
.ftS20_ > *{ font-size:20px; }

.ftWB{ font-weight: 700; }
.ftWBD{ font-weight:bolder }
.ftWL{ font-weight:lighter;}
.fwL{ font-weight:lighter;}

.ftWB_ > *{ font-weight: 700; }

.lh1{ line-height:1px; }
.lh2{ line-height:2px; }
.lh3{ line-height:3px; }
.lh4{ line-height:4px; }
.lh5{ line-height:5px; }
.lh6{ line-height:6px; }
.lh7{ line-height:7px; }
.lh8{ line-height:8px; }
.lh9{ line-height:9px; }
.lh10{ line-height:10px; }
.lh11{ line-height:11px; }
.lh12{ line-height:12px; }
.lh13{ line-height:13px; }
.lh14{ line-height:14px; }
.lh15{ line-height:15px; }
.lh16{ line-height:16px; }
.lh17{ line-height:17px; }
.lh18{ line-height:18px; }
.lh19{ line-height:19px; }
.lh20{ line-height:20px; }
.lh21{ line-height:21px; }
.lh22{ line-height:22px; }
.lh23{ line-height:23px; }
.lh24{ line-height:24px; }
.lh25{ line-height:25px; }
.lh26{ line-height:26px; }
.lh27{ line-height:27px; }
.lh28{ line-height:28px; }
.lh29{ line-height:29px; }
.lh30{ line-height:30px; }
.lh31{ line-height:31px; }
.lh32{ line-height:32px; }
.lh33{ line-height:33px; }
.lh34{ line-height:34px; }
.lh35{ line-height:35px; }
.lh36{ line-height:36px; }
.lh37{ line-height:37px; }
.lh38{ line-height:38px; }
.lh39{ line-height:39px; }
.lh40{ line-height:40px; }
.lh41{ line-height:41px; }
.lh42{ line-height:42px; }
.lh43{ line-height:43px; }
.lh44{ line-height:44px; }
.lh45{ line-height:45px; }
.lh46{ line-height:46px; }
.lh47{ line-height:47px; }
.lh48{ line-height:48px; }
.lh49{ line-height:49px; }
.lh50{ line-height:50px; }
.lh60{ line-height:60px; }
.lh65{ line-height:65px; }
.lh70{ line-height:70px; }
.lh75{ line-height:75px; }
.lh80{ line-height:80px; }
.lh85{ line-height:85px; }
.lh90{ line-height:90px; }
.lh100{ line-height:100px; }
.lh110{ line-height:110px; }
.lh115{ line-height:115px; }
.lh150{ line-height:150px; }
.lh210{ line-height:210px; }
.lh240{ line-height:240px; }

.lh20_ > *{ line-height:20px; }
.lh21_ > *{ line-height:21px; }
.lh22_ > *{ line-height:22px; }
.lh23_ > *{ line-height:23px; }
.lh24_ > *{ line-height:24px; }
.lh25_ > *{ line-height:25px; }
.lh30_ > *{ line-height:30px; }
.lh35_ > *{ line-height:35px; }
.lh40_ > *{ line-height:40px; }
.lh45_ > *{ line-height:45px; }
.lh50_ > *{ line-height:50px; }
.lh55_ > *{ line-height:55px; }
.lh60_ > *{ line-height:60px; }
.lh70_ > *{ line-height:70px; }
.lh80_ > *{ line-height:80px; }
.lh100_ > *{ line-height:100px; }
.lh110_ > *{ line-height:110px; }
.lh200_ > *{ line-height:200px; }
.lh210_ > *{ line-height:210px; }
.lh220_ > *{ line-height:220px; }
.lh240_ > *{ line-height:240px; }


/*文本基于元素的对其方式*/
.vtcAL_T{
	vertical-align:top;
}
.vtcAL_B{
	vertical-align:bottom;
}
.vtcAL_M{
	vertical-align:middle;
}
.vtcAL_T_ > *{
	vertical-align:top;
}
.vtcAL_B_ > *{
	vertical-align:bottom;
}
.vtcAL_M_ > *{
	vertical-align:middle;
}

/*圆角*/
.rd5{ border-radius:5px; }
.rd10{ border-radius:10px; }

.rd5_ > *{ border-radius:5px; }
.rd10_ > *{ border-radius:10px; }

.rdP100{ border-radius:100%; }
.rdp100{ border-radius:100%; }
.rdP100_ > *{ border-radius:100%; }
.rdp100_ > *{ border-radius:100%; }

.rdP100Img img{ border-radius:100%; }

.rdT5{
    border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.rdT10{
    border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.rdTL5{ border-top-left-radius:5px; }

.rdTR5{ border-top-right-radius:5px; }


.cl0{ color:rgb(0,0,0); }
.cl1{ color:rgb(17,17,17); }
.cl2{ color:rgb(34,34,34); }
.cl3{ color:rgb(51,51,51); }
.cl4{ color:rgb(68,68,68); }
.cl5{ color:rgb(85,85,85); }
.cl6{ color:rgb(102,102,102); }
.cl7{ color:rgb(119,119,119); }
.cl8{ color:rgb(136,136,136); }
.cl9{ color:rgb(153,153,153); }
.cl10{ color:rgb(170,170,170); }
.cl11{ color:rgb(187,187,187); }
.cl12{ color:rgb(204,204,204); }
.cl13{ color:rgb(221,221,221); }
.cl14{ color:rgb(238,238,238); }
.cl15{ color:rgb(245,245,245); }
.cl16{ color:rgb(250,250,250); }
.cl17{ color:rgb(252,252,252); }
.cl18{ color:rgb(253,253,253); }
.cl19{ color:rgb(255,255,255); }
.cl19_ > *{ color:rgb(255,255,255); }
.cl20{ color:rgb(51,0,0); }
.cl21{ color:rgb(68,0,0); }
.cl22{ color:rgb(85,0,0); }
.cl23{ color:rgb(102,0,0); }
.cl24{ color:rgb(119,0,0); }
.cl25{ color:rgb(136,0,0); }
.cl26{ color:rgb(153,0,0); }
.cl27{ color:rgb(170,0,0); }
.cl28{ color:rgb(187,0,0); }
.cl29{ color:rgb(204,0,0); }
.cl30{ color:rgb(221,0,0); }
.cl31{ color:rgb(238,0,0); }
.cl32{ color:rgb(255,0,0); }
.cl40{ color:rgb(0,34,0); }
.cl41{ color:rgb(0,51,0); }
.cl42{ color:rgb(0,68,0); }
.cl43{ color:rgb(0,85,0); }
.cl44{ color:rgb(0,102,0); }
.cl45{ color:rgb(0,119,0); }
.cl46{ color:rgb(0,136,0); }
.cl47{ color:rgb(0,153,0); }
.cl48{ color:rgb(0,170,0); }
.cl49{ color:rgb(0,187,0); }
.cl50{ color:rgb(0,204,0); }
.cl51{ color:rgb(0,221,0); }
.cl52{ color:rgb(0,238,0); }
.cl53{ color:rgb(0,255,0); }
.cl60{ color:rgb(0,0,34); }
.cl61{ color:rgb(0,0,51); }
.cl62{ color:rgb(0,0,68); }
.cl63{ color:rgb(0,0,85); }
.cl64{ color:rgb(0,0,102); }
.cl65{ color:rgb(0,0,119); }
.cl66{ color:rgb(0,0,136); }
.cl67{ color:rgb(0,0,153); }
.cl68{ color:rgb(0,0,170); }
.cl69{ color:rgb(0,0,187); }
.cl70{ color:rgb(0,0,204); }
.cl71{ color:rgb(0,0,221); }
.cl72{ color:rgb(0,0,238); }
.cl73{ color:rgb(0,0,255); }
.cl100{ color:rgb(51,51,0); }
.cl101{ color:rgb(51,102,0); }
.cl102{ color:rgb(51,153,0); }
.cl103{ color:rgb(51,204,0); }
.cl104{ color:rgb(51,255,0); }
.cl105{ color:rgb(102,51,0); }
.cl106{ color:rgb(102,102,0); }
.cl107{ color:rgb(102,153,0); }
.cl108{ color:rgb(102,204,0); }
.cl109{ color:rgb(102,255,0); }
.cl110{ color:rgb(153,51,0); }
.cl111{ color:rgb(153,102,0); }
.cl112{ color:rgb(153,153,0); }
.cl113{ color:rgb(153,204,0); }
.cl114{ color:rgb(153,255,0); }
.cl115{ color:rgb(204,51,0); }
.cl116{ color:rgb(204,102,0); }
.cl117{ color:rgb(204,153,0); }
.cl118{ color:rgb(204,204,0); }
.cl119{ color:rgb(204,255,0); }
.cl120{ color:rgb(255,51,0); }
.cl121{ color:rgb(255,102,0); }
.cl122{ color:rgb(255,153,0); }
.cl123{ color:rgb(255,204,0); }
.cl124{ color:rgb(255,255,0); }
.cl130{ color:rgb(51,0,51); }
.cl131{ color:rgb(51,0,102); }
.cl132{ color:rgb(51,0,153); }
.cl133{ color:rgb(51,0,204); }
.cl134{ color:rgb(51,0,255); }
.cl135{ color:rgb(102,0,51); }
.cl136{ color:rgb(102,0,102); }
.cl137{ color:rgb(102,0,153); }
.cl138{ color:rgb(102,0,204); }
.cl139{ color:rgb(102,0,255); }
.cl140{ color:rgb(153,0,51); }
.cl141{ color:rgb(153,0,102); }
.cl142{ color:rgb(153,0,153); }
.cl143{ color:rgb(153,0,204); }
.cl144{ color:rgb(153,0,255); }
.cl145{ color:rgb(204,0,51); }
.cl146{ color:rgb(204,0,102); }
.cl147{ color:rgb(204,0,153); }
.cl148{ color:rgb(204,0,204); }
.cl149{ color:rgb(204,0,255); }
.cl150{ color:rgb(255,0,51); }
.cl151{ color:rgb(255,0,102); }
.cl152{ color:rgb(255,0,153); }
.cl153{ color:rgb(255,0,204); }
.cl154{ color:rgb(255,0,255); }
.cl160{ color:rgb(0,51,51); }
.cl161{ color:rgb(0,51,102); }
.cl162{ color:rgb(0,51,153); }
.cl163{ color:rgb(0,51,204); }
.cl164{ color:rgb(0,51,255); }
.cl165{ color:rgb(0,102,51); }
.cl166{ color:rgb(0,102,102); }
.cl167{ color:rgb(0,102,153); }
.cl168{ color:rgb(0,102,204); }
.cl169{ color:rgb(0,102,255); }
.cl170{ color:rgb(0,153,51); }
.cl171{ color:rgb(0,153,102); }
.cl172{ color:rgb(0,153,153); }
.cl173{ color:rgb(0,153,204); }
.cl174{ color:rgb(0,153,255); }
.cl175{ color:rgb(0,204,51); }
.cl176{ color:rgb(0,204,102); }
.cl177{ color:rgb(0,204,153); }
.cl178{ color:rgb(0,204,204); }
.cl179{ color:rgb(0,204,255); }
.cl180{ color:rgb(0,255,51); }
.cl181{ color:rgb(0,255,102); }
.cl182{ color:rgb(0,255,153); }
.cl183{ color:rgb(0,255,204); }
.cl184{ color:rgb(0,255,255); }

.cl3_ > *{ color:rgb(51,51,51); }
.cl4_ > *{ color:rgb(68,68,68); }
.cl5_ > *{ color:rgb(85,85,85); }
.cl6_ > *{ color:rgb(102,102,102); }
.cl7_ > *{ color:rgb(119,119,119); }
.cl11_ > *{ color:rgb(187,187,187); }
.cl15_ > *{ color:rgb(255,255,255); }
.cl104_> *{ color:rgb(51,255,0); }
.cl255_ > *{ color:rgb(255,255,255); }


.bgN{ background-color:transparent; }
.bgN_ > *{ background-color:transparent; }

/*黑色渐变*/
.bg0{ background-color:rgb(0,0,0); }
.bg0_ > *{ background-color:rgb(0,0,0); }
.bg1{ background-color:rgb(17,17,17); }
.bg2{ background-color:rgb(34,34,34); }
.bg3{ background-color:rgb(51,51,51); }
.bg4{ background-color:rgb(68,68,68); }
.bg5{ background-color:rgb(85,85,85); }
.bg6{ background-color:rgb(102,102,102); }
.bg7{ background-color:rgb(119,119,119); }
.bg7_ > *{ background-color:rgb(119,119,119); }
.bg8{ background-color:rgb(136,136,136); }
.bg9{ background-color:rgb(153,153,153); }
.bg10{ background-color:rgb(170,170,170); }
.bg11{ background-color:rgb(187,187,187); }
.bg12_ > *{ background-color:rgb(204,204,204); }
.bg12{ background-color:rgb(204,204,204); }
.bg13{ background-color:rgb(221,221,221); }
.bg14{ background-color:rgb(238,238,238); }
.bg14_ > *{ background-color:rgb(238,238,238); }
.bg15{ background-color:rgb(245,245,245); }
.bg16{ background-color:rgb(250,250,250); }
.bg17{ background-color:rgb(252,252,252); }
.bg18{ background-color:rgb(253,253,253); }
.bg19{ background-color:rgb(255,255,255); }
/*红色渐变*/
.bg20{ background-color:rgb(51,0,0); }
.bg21{ background-color:rgb(68,0,0); }
.bg22{ background-color:rgb(85,0,0); }
.bg23{ background-color:rgb(102,0,0); }
.bg24{ background-color:rgb(119,0,0); }
.bg25{ background-color:rgb(136,0,0); }
.bg26{ background-color:rgb(153,0,0); }
.bg27{ background-color:rgb(170,0,0); }
.bg28{ background-color:rgb(187,0,0); }
.bg29{ background-color:rgb(204,0,0); }
.bg30{ background-color:rgb(221,0,0); }
.bg31{ background-color:rgb(238,0,0); }
.bg32{ background-color:rgb(255,0,0); }
/*绿色渐变*/
.bg40{ background-color:rgb(0,34,0); }
.bg41{ background-color:rgb(0,51,0); }
.bg42{ background-color:rgb(0,68,0); }
.bg43{ background-color:rgb(0,85,0); }
.bg44{ background-color:rgb(0,102,0); }
.bg45{ background-color:rgb(0,119,0); }
.bg46{ background-color:rgb(0,136,0); }
.bg47{ background-color:rgb(0,153,0); }
.bg48{ background-color:rgb(0,170,0); }
.bg49{ background-color:rgb(0,187,0); }
.bg50{ background-color:rgb(0,204,0); }
.bg51{ background-color:rgb(0,221,0); }
.bg52{ background-color:rgb(0,238,0); }
.bg53{ background-color:rgb(0,255,0); }
/*蓝色渐变*/
.bg60{ background-color:rgb(0,0,34); }
.bg61{ background-color:rgb(0,0,51); }
.bg62{ background-color:rgb(0,0,68); }
.bg63{ background-color:rgb(0,0,85); }
.bg64{ background-color:rgb(0,0,102); }
.bg65{ background-color:rgb(0,0,119); }
.bg66{ background-color:rgb(0,0,136); }
.bg67{ background-color:rgb(0,0,153); }
.bg68{ background-color:rgb(0,0,170); }
.bg69{ background-color:rgb(0,0,187); }
.bg70{ background-color:rgb(0,0,204); }
.bg71{ background-color:rgb(0,0,221); }
.bg72{ background-color:rgb(0,0,238); }
.bg73{ background-color:rgb(0,0,255); }
/*红绿渐变*/
.bg100{ background-color:rgb(51,51,0); }
.bg101{ background-color:rgb(51,102,0); }
.bg102{ background-color:rgb(51,153,0); }
.bg103{ background-color:rgb(51,204,0); }
.bg104{ background-color:rgb(51,255,0); }
.bg105{ background-color:rgb(102,51,0); }
.bg106{ background-color:rgb(102,102,0); }
.bg107{ background-color:rgb(102,153,0); }
.bg108{ background-color:rgb(102,204,0); }
.bg109{ background-color:rgb(102,255,0); }
.bg110{ background-color:rgb(153,51,0); }
.bg111{ background-color:rgb(153,102,0); }
.bg112{ background-color:rgb(153,153,0); }
.bg113{ background-color:rgb(153,204,0); }
.bg114{ background-color:rgb(153,255,0); }
.bg115{ background-color:rgb(204,51,0); }
.bg116{ background-color:rgb(204,102,0); }
.bg117{ background-color:rgb(204,153,0); }
.bg118{ background-color:rgb(204,204,0); }
.bg119{ background-color:rgb(204,255,0); }
.bg120{ background-color:rgb(255,51,0); }
.bg121{ background-color:rgb(255,102,0); }
.bg122{ background-color:rgb(255,153,0); }
.bg123{ background-color:rgb(255,204,0); }
.bg124{ background-color:rgb(255,255,0); }
/*红蓝渐变*/
.bg130{ background-color:rgb(51,0,51); }
.bg131{ background-color:rgb(51,0,102); }
.bg132{ background-color:rgb(51,0,153); }
.bg133{ background-color:rgb(51,0,204); }
.bg134{ background-color:rgb(51,0,255); }
.bg135{ background-color:rgb(102,0,51); }
.bg136{ background-color:rgb(102,0,102); }
.bg137{ background-color:rgb(102,0,153); }
.bg138{ background-color:rgb(102,0,204); }
.bg139{ background-color:rgb(102,0,255); }
.bg140{ background-color:rgb(153,0,51); }
.bg141{ background-color:rgb(153,0,102); }
.bg142{ background-color:rgb(153,0,153); }
.bg143{ background-color:rgb(153,0,204); }
.bg144{ background-color:rgb(153,0,255); }
.bg145{ background-color:rgb(204,0,51); }
.bg146{ background-color:rgb(204,0,102); }
.bg147{ background-color:rgb(204,0,153); }
.bg148{ background-color:rgb(204,0,204); }
.bg149{ background-color:rgb(204,0,255); }
.bg150{ background-color:rgb(255,0,51); }
.bg151{ background-color:rgb(255,0,102); }
.bg152{ background-color:rgb(255,0,153); }
.bg153{ background-color:rgb(255,0,204); }
.bg154{ background-color:rgb(255,0,255); }

/*蓝绿渐变*/
.bg160{ background-color:rgb(0,51,51); }
.bg161{ background-color:rgb(0,51,102); }
.bg162{ background-color:rgb(0,51,153); }
.bg163{ background-color:rgb(0,51,204); }
.bg164{ background-color:rgb(0,51,255); }
.bg165{ background-color:rgb(0,102,51); }
.bg166{ background-color:rgb(0,102,102); }
.bg167{ background-color:rgb(0,102,153); }
.bg168{ background-color:rgb(0,102,204); }
.bg169{ background-color:rgb(0,102,255); }
.bg170{ background-color:rgb(0,153,51); }
.bg171{ background-color:rgb(0,153,102); }
.bg172{ background-color:rgb(0,153,153); }
.bg173{ background-color:rgb(0,153,204); }
.bg174{ background-color:rgb(0,153,255); }
.bg175{ background-color:rgb(0,204,51); }
.bg176{ background-color:rgb(0,204,102); }
.bg177{ background-color:rgb(0,204,153); }
.bg178{ background-color:rgb(0,204,204); }
.bg179{ background-color:rgb(0,204,255); }
.bg180{ background-color:rgb(0,255,51); }
.bg181{ background-color:rgb(0,255,102); }
.bg182{ background-color:rgb(0,255,153); }
.bg183{ background-color:rgb(0,255,204); }
.bg184{ background-color:rgb(0,255,255); }

.bg13_ > *{ background-color:rgb(221,221,221); }
.bg14_ > *{ background-color:rgb(238,238,238); }
.bg15_ > *{ background-color:rgb(255,255,255); }
.bg53_ > *{ background-color:rgb(0,255,0); }
.bg121_ > *{ background-color:rgb(255,102,0); }

/*hover事件*/
.hvShow_hide:hover .hide{ /*鼠标移上去 ,隐藏de变成显示*/
	display:block;
}
.hvHide_show:hover .show{ /*鼠标移上去 ,显示的变隐藏*/
	display:none;
}
.hvftWB_ > *:hover{    /*鼠标移上去 ,字体变粗*/
	font-weight: 700;
}

.hvcl0:hover{
	color:rgb(0,0,0);
}
.hvcl15:hover{
	color:rgb(255,255,255);
}
.hvcl0_ > *:hover{
	color:rgb(0,0,0);
}
.hvcl15_ > *:hover{
	color:rgb(255,255,255);
}

.csPT{ cursor:pointer; }
.csDF{ cursor:default; }
.csPT_ > *{ cursor:pointer; }
.csDF_ > *{ cursor:default; }

.csPTImg img{ cursor:pointer; }

/*透明度*/
.opt0{
	filter:alpha(opacity=0); 
    -moz-opacity:0;      
    -khtml-opacity:0;     
    opacity: 0;       
}
.opt1{
	filter:alpha(opacity=10);
    -moz-opacity:0.1;      
    -khtml-opacity:0.1;     
    opacity:0.1;       
}
.opt2{
	filter:alpha(opacity=20); 
    -moz-opacity:0.2;      
    -khtml-opacity:0.2;     
    opacity:0.2;       
}
.opt3{
	filter:alpha(opacity=30); 
    -moz-opacity:0.3;      
    -khtml-opacity:0.3;     
    opacity:0.3;
}
.opt4{
	filter:alpha(opacity=40); 
    -moz-opacity:0.4;      
    -khtml-opacity:0.4;     
    opacity:0.4;       
}
.opt5{
	filter:alpha(opacity=50); 
    -moz-opacity:0.5;      
    -khtml-opacity:0.5;     
    opacity:0.5;       
}
.opt6{
	filter:alpha(opacity=60); 
    -moz-opacity:0.6;      
    -khtml-opacity:0.6;     
    opacity:0.6;       
}
.opt7{
	filter:alpha(opacity=70); 
    -moz-opacity:0.7;      
    -khtml-opacity:0.7;     
    opacity:0.7;       
}
.opt8{
	filter:alpha(opacity=80); 
    -moz-opacity:0.8;      
    -khtml-opacity:0.8;     
    opacity:0.8;       
}
.opt9{
	filter:alpha(opacity=90); 
    -moz-opacity:0.9;      
    -khtml-opacity:0.9;     
    opacity:0.9;       
}
.opt95{
	filter:alpha(opacity=95); 
    -moz-opacity:0.95;      
    -khtml-opacity:0.95;     
    opacity:0.95;       
}
.opt97{
	filter:alpha(opacity=97); 
    -moz-opacity:0.97;
    -khtml-opacity:0.97;
    opacity:0.97;
}
.opt99{
	filter:alpha(opacity=99); 
    -moz-opacity:0.99; 
    -khtml-opacity:0.99;
    opacity:0.99; 
}
.hide {
  display: none;
}
.hide_ > *{
  display: none;
}
.show {
  display: block;
}