body{width:100%;max-width: 640px;color:#333;}
.minH300{min-height:300px;}
.w22{width: 22px;}
.w295{width: 295px;}
.w960{width:960px;}

.orange-gdt{
	background: #F59B5F;
	background: -webkit-gradient(linear, left top, left bottom, from(#F59B5F), to(#EF9E28));
	background: -moz-linear-gradient(top,  #F59B5F,  #EF9E28);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F59B5F', endColorstr='#EF9E28');
}
.bgImg{
	background: url(../images/bg.png) center top no-repeat;
	max-width: 100%;
}
.rd2{border-radius: 2px;}
.rd2_ > *{border-radius: 2px;}

.bdFBCAA2_4{border:4px solid #FBCAA2;}
.bgF1B85F{background:#F1B85F;}
.bg19_ > *{ background-color:rgb(255,255,255); }
.bgFDAD1A{background:#FDAD1A;}
.bgFDD4A0{background:#FDD4A0;}
.bgA9ABAA{background:#A9ABAA;}
.bgA9ABAA_ > *{background:#A9ABAA;}
.bgF3F3F3{background:#F3F3F3;}
.bgF5AB40{background:#F5AB40;}
.bgF4F4F4{background:#F4F4F4;}


.bdRfff{border-right:1px solid #fff;}
.bdBeee{border-bottom:1px solid #eee;}
.bdTBeee{border-top:1px solid #eee;border-bottom:1px solid #eee;}
.bdEDA034{border:1px solid #EDA034;}
.bdREDA034{border-right:1px solid #EDA034;}
.bdBEDA034{border-bottom:1px solid #EDA034;}
.bdEAB976{border:1px solid #EAB976;border-bottom:0px;}
.bdREAB976{border-right:1px solid #EAB976;}
.bdBEAB976_ > *{border-bottom:1px solid #EAB976;}
.bdEAEAEA{border:1px solid #EAEAEA;border-bottom:0px;}
.bdBEAEAEA_ > *{border-bottom:1px solid #EAEAEA;}
.bdLEAB976{border-left:2px solid #EAB976;}
.bd999{border:1px solid #999;}
.bdccc{border:1px solid #ccc;}
.bdTBccc{border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.bdTccc{border-top:1px solid #ccc;}
.bdBccc{border-bottom:1px solid #ccc;}
.bdBe5e5e5{border-bottom:1px solid #e5e5e5;}



.clEDA034{color:#EDA034;}
.clB37CDA{color:#B37CDA;}
.clEAB976{color:#EAB976;}
.clD4D4D2{color:#D4D4D2;}
.clF9F9F9{color:#F9F9F9;}


.mgLP10{margin-left:10%;}
.t17{ top:17px; }
.pdL35{ padding-left:35px; }
.pdL45{ padding-left:45px; }
.pdL110{padding-left:110px;}
.pdL120{padding-left:120px;}
.pdL130{padding-left:130px;}
.pdL140{padding-left:140px;}
.pdL15_ > *{padding-left:15px;}
.pdLR40{padding-left:40px;padding-right:40px;}
.lp50{left:50%;}
.pdB70{padding-bottom: 70px;}


.pdR5_ > *{padding-right:5px;}
.minH40_ > *{min-height:40px;}
.mgT-5{margin-top: -5px;}
.mgT-20{margin-top: -20px;}
.mgL-25{margin-left: -25px;}
.mgL-50{margin-left: -50px;}
.mgL2{margin-left: 2px;}
.mgL70{margin-left: 70px;}
.mgL90{margin-left: 90px;}
.mgT125{margin-top: 125px;}



.ftSNM{font-style:normal;}
.a_right{
	position:absolute;
	top:0px;
	right:15px;
	width:15px; 
	height:40px;
	background: url(../images/arrow_right.png) right no-repeat;
	background-size: 10px;
}
.fw100{font-weight: 100;}
.boxSd{
	box-shadow:0px 0px 5px rgb(187,187,187);
}
.white_ico{background: #FDAD1A url(../images/white.png) right no-repeat;}
.txt_idt{text-indent:10px;}
.boxText img{width:100%;}
.boxText p{font-size: 16px;}
.boxText *{float: none;}
.clFE9601{color:#FE9601;}
.cl469BEC{color:#469BEC;}
.inputFile2{
	display:block;
	width:23px;
 	height:21px; 
	cursor:pointer;
	background: url(../images/pIco.png) no-repeat;
}
.divLayer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; 
    z-index:10000;  
}
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
}
.tags{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;        
    width: 500px;
    overflow: hidden;
    background: #fff;
    z-index: 100;
}
.inforC{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;        
    width: 500px;
    overflow: hidden;
    background: #fff;
    z-index: 100;
}
.Box_tit{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #F5AB40;
    font-size: 18px;
    padding-left: 10px;

}
.BoxCont{
    width: 100%;
}
.BoxDate{
    margin-left: 40px;
    margin-top: 40px;
}
.dateInput{
    height: 35px;
    line-height: 35px;
    border:1px solid #D1D1D1;
    padding:0px 10px 0px 10px;
}
.BtnTwo{
    margin-top: 60px;
}
.saveBtn{
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #F5AB40;
    border-radius: 5px;
    cursor: pointer;
} 
.inforSave{
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #F5AB40;
    border-radius: 5px;
    cursor: pointer;
}

.backBtn{
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    margin-left: 20px;
    cursor: pointer;
}  
.clickPlay{
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #2E3643;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
}  


